@{
    ViewBag.Title = "Confirm Email";
}

@section Breadcrumb{
    <li class="active">Registro</li>
}

<div id="pageContent">
    <div class="container">
        <!-- title -->
        <div class="title-box">
            <h1 class="text-center text-uppercase title-under">CONFIRMAR EMAIL</h1>
        </div>
        <div class="row">
            <div class="divider divider--md visible-sm visible-xs"></div>
            <section class="col-sm-12 col-md-12 col-lg-12 col-xl-4">
                <div class="login-form-box" style="min-height:0px">
                    <h3 class="color small">Email Confirmado</h3>
                    <p>
                        Gracias por confirmar su Email.
                    </p>
                </div>
            </section>
        </div>
    </div>
</div>